@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>TouristGuide</h1>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Tourists Attractions</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: tourists">
                    <li>
                        <strong><span data-bind="text: CountryName"></span></strong>: <span data-bind="text: Location"></span>
                        <small><a href="#" data-bind="click: $parent.getTouristDetail">Details</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <!-- ko if:detail() -->

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Detail</h2>
            </div>
            <table class="table">
                <tr><td>Country</td><td data-bind="text: detail().CountryName"></td></tr>
                <tr><td>Location</td><td data-bind="text: detail().Location"></td></tr>
                <tr><td>Itinerary</td><td data-bind="text: detail().Itinerary"></td></tr>
                <tr><td>Type</td><td data-bind="text: detail().Type"></td></tr>
                <tr><td>Budget</td><td data-bind="text: detail().Budget"></td></tr>
            </table>
        </div>
    </div>

    <!-- /ko -->
    
    
</div>